<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>
body {
  background-image: url('http://sf.co.ua/13/03/wallpaper-2645355.jpg');
  height: 100%;
  width:100%;

  background-repeat: no-repeat;
  background-size: cover;

}
</style>
<a class="my_profile" href="/profile">My Profile</a>

        <% if flash[:error] %>
          <%flash[:error] %>
          <% end %>

          <div class= "home_form">
          <form action="/login" method="post">
            <input type="email" name="email" placeholder="  Email" ></br>
            <input type="password" name="password" placeholder = "Enter password"></br>
            <input type="submit" value="Login"></br>

          </form>
          </div>

          <div class="gifs">
            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjt6P2d9vbmAhVQiOAKHd89DikQjRx6BAgBEAQ&url=https%3A%2F%2Fgiphy.com%2Fexplore%2Ftransparent-black-cat&psig=AOvVaw3dx8f4-reE7qTSlhxZGbye&ust=1578673225614183" alt="">

          </div>




</body>

</html>
