<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>
  body {
  background-image: url('http://sf.co.ua/13/03/wallpaper-2645355.jpg');
  height: 100%;
  width:100%;

  background-repeat: no-repeat;
  background-size: cover;

}
</style>


    <% if flash[:error] %>
      <%flash[:error] %>
      <% end %>
      <div class="login_form">
      <form action="/login" method="post">
        <input type="email" name="email" placeholder="  Email" ></br>
        <input type="password" name="password" placeholder = "Enter password"></br>
        <input type="submit" value="Login"></br>

      </form>

</div>

  </body>
</html>
