<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <% if flash[:error] %>
      <%flash[:error] %>
      <% end %>
      <form action="/login" method="post">
        <input type="email" name="email" placeholder="  Email" ></br>
        <input type="password" name="password" placeholder = "Enter password"></br>
        <input type="submit" value="Login"></br>

      </form>



  </body>
</html>
