<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/signup">Sign up </a>
      <a href="/home">Log in</a>
    </nav>











      </body>
    </html>
