<h1>Post your blog!</h1>
<form class="blog-form" action="/blogs" method="POST">
 <input type="text" name="title" placeholder="Enter your blog’s title…"><br>
 <textarea name="content" rows="8" cols="80"></textarea>
 <input type="submit" value="submit">
</form>
