<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<h1> <% session[:user_id] %> </h1>
<h1> <%   user = User.find_by(id:session[:user_id]) %> </h1>
<h1> <%= "Welcome #{user.name }" %> </h1>



  </body>
</html>
