<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
    <a class="feed" href="/show">News Feed</a>



<div class="blog">

<h1> <% session[:user_id] %> </h1>
<h1> <%   user = User.find_by(id:session[:user_id]) %> </h1>
<h1> <%= "Welcome #{user.first_name }, what's on your mind today?" %> </h1>

<h2>Post your blog!</h2>
<form class="blog-form" action="/blogs" method="post">
 <input type="text" name="blog[title]" placeholder="Enter your blog’s title…"><br>
 <textarea name="blog[content]" placeholder="Enter your thoughts here..." rows="8" cols="80"></textarea>
 <input type="submit" value="Post">
</form>

</div>
</body>
</html>
