<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<nav>
  <a href="/">Home</a>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in</a>
  <a href="/logout">Logout</a>
</nav>



<body>
<%= @blog.title %>
<%= @blog.content %>
<%= @blog.user_id %>

</body>
</html>
