<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<!-- <nav>
  <a href="/">Home</a>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in</a>
  <a href="/logout">Logout</a>
</nav>
 -->


<body>
  <style>
    body {
      background-image: url('https://data.whicdn.com/images/277379761/original.gif');
      height: 100%;
      width:100%;

      background-repeat: no-repeat;
      background-size: cover;

    }
  </style>

<a class="my_profile" href="/profile">My Profile</a>
    <!-- <h1 style="text-align:center; background-color:blue;">See every users posts below</h1> -->



<div class="posts">

    <% @posts.each do |post| %>
    <div class="content">


      <p style="font-weight:bold;"><%= post.title %></p>
      <h1><%= post.content %></h1>

    <p> <%= "Posted by, #{post.user.first_name} #{post.user.last_name}." %> </p>
  </div>
    <% end %>



  </div>

</body>
</html>
