<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<!-- <nav>
  <a href="/">Home</a>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in</a>
  <a href="/logout">Logout</a>
</nav>
 -->


<body>

    <a class="my_profile" href="/profile">My Profile</a>

<div class="posts">

  <% if  @blog != nil%>
    <% for post in @blog.reverse %>
    <% if post != nil%>
    <div class="content">


      <p style="font-weight:bold;"><%= post.title %></p>
      <h1><%= post.content %></h1>

    <p> <% session[:user_id] %> </p>
    <p> <%   user = User.find_by(id:session[:user_id]) %> </p>
    <p> <%= "Posted by, #{user.first_name} #{user.last_name}." %> </p>
  </div>













    <% end %>
    <% end %>
    <% end %>
  </div>

</body>
</html>
