<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<!-- <nav>
  <a href="/">Home</a>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in</a>
  <a href="/logout">Logout</a>
</nav>
 -->


<body>

  <% if  @blog != nil%>
    <% for post in @blog.reverse %>
    <% if post != nil%>
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>

    <% end %>
    <% end %>
    <% end %>

</body>
</html>
