<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="form">
  <h1 style="text-align:center; color:#ff8800;">Sign Up For Rumblr</h1>
  <% if flash[:error] %>
  <ol>
    <% flash[:error].each do |error| %>
    <li><%=error%></li>
    invalid input
    <% end %>
  </ol>
  <% end %>

  <form style="text-align: center;" action="/signup" method="POST">
    <input type="text" name="user[first_name]" placeholder="First Name " ></br>
    <input type="text" name="user[last_name]" placeholder="Last Name " ></br>
    <input type="date" name="user[birthday]" placeholder="Birthday" ></br>
    <input type="email" name="user[email]" placeholder="  Email" ></br>
    <input type="password" name="user[password]" placeholder = "Create a password"></br>
    <input type="submit" value="Sign up"></br>

  </form>
  </div>





</head>
<body>
  <style>
    body {
      background-image: url('https://i.imgur.com/9mv2XGt.gif');
      height: 100%;
      width:100%;

      background-repeat: no-repeat;
      background-size: cover;

    }
  </style>

</body>
</html>
